body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center{
  margin-left:auto;
  margin-right:auto;
}
h1{
   text-align: center;
}
#root1{
  margin:20px;
  
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top:20px;
  
  grid-row-gap:7px;
}



.item{
  margin-left:auto;
  margin-right:auto;
  
  border:1.5px solid black;
}
#toggleButton{
  display:block;
  height:40px;
  width:80px;
  border-radius: 20px;
  border:2px solid black;
  color:white;
  background-color: black;
  font-weight:normal;
}
#toggleButton:hover{
background-color:white;
color:black;
}
.overlay,#img{
  position:fixed;
  display:none;
  flex-direction: row;
  align-items: center;
  
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100%;
  background-color: rgba(20, 20, 20, 0.9);

}
